body {
	margin: 100px;
	background-color: #efefef;
	font-family: Cambria;
	font-size: 16pt;
	color: #898989;
}
div {
	margin: auto;
	padding: 100px;
	width: 794px;
	background-color: #e9f0f6;
	border: 1px solid #646464;
	border-radius: 5px;
	box-shadow: 0 0 10px 5px grey;
}
h1 {
	font-weight: bold;
	font-size: 18pt;
	color: #0d0d0d;
}
h2 {
	padding-left: 10px;
	font-weight: bold;
	font-size: 14pt;
	color: #355d7e;
}
td {
	padding: 5px 25px 5px 25px;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
em {
	font-size: 12pt;
}
ul {
	font-size: 12pt;
}
li {
	list-style-type: circle;
}

.contact {
	margin-left: 25px;
	font-size: 12pt;
}
.tab-1 {
	padding-right: 50px;
	font-weight: bold;
	color: #646464;
}
.td-1 {
	width: 135px;
	background-color: #f2f2f2;
	font-size: 12pt;
	text-align: center;
	border: 1px solid #d4e1ed;
}
.td-2 {
	padding-left: 10px;
	width: 550px;
	font-size: 14pt;
	text-align: left;
	border: 1px solid #d4e1ed;
}
